body{
	color: #383E42;
	background-color: #FFFFFF;
	font-size: 19px;
	line-height: 32px;
	font-family: 'Nunito', sans-serif;
}
h1{
	font-weight: bold;
}

.navbar-transparent {
  background-color: #EDF2F2;
  opacity: 0.7;
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  color: #383E42;
  line-height: 50px;
}

.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: white;
  background-color: rgb(0, 0, 0, 0.3);
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus {
  color: white;
}


.spacer {
	height:30px;
}

#wrapper {
	background-image: url('../images/background/background.jpg');
	height: 550px;
	background-size: cover;
	padding-top: 150px;
	color: white;
}
#wrapper h1{
	font-size: 80px;
}

#wrapper h2 {
	font-size: 30px;
}

#feature {
	color: #674077; 
	font-size: 50px;
	border: 1px solid white;
	margin: 20px;
}


.presentation a:hover{
	color: #383E42;
	text-decoration: none;
}

.presentation h1{
	padding-bottom: 1em;
}


.services {
	text-align: center;
	background-color: #383E42;
	padding: 50px;
	color: white;
}

.temoinage {
	text-align: left; 
	padding-left: 100px;
	padding-right: 100px
}

.temmoinage h1{
	text-align: center; 
	padding-bottom: 50px;
}

.apropos h1{
	text-align: center;
	padding-bottom: 50px
}

#apropospresentation {
	padding: 30px;
	background-color: #E7C675;
	color: #ffffff;
}

#photo {
	border-radius: 50%;
}

.apropos h2{
	text-decoration: underline;
	padding-bottom: 20px;
	font-size: 20px;
}

.apropos p{
	padding-bottom: 30px;
}

.apropos a{
	text-decoration: none;
}

.tarif h1{
	text-align: center;
	padding-bottom: 30px;
}
.tarif a:hover{
	color: #95C11F;
	text-decoration: none;
}

.tarif {
	text-align: left; 
	padding-left: 100px;
	padding-right: 100px
}

.tarif h2{
	font-size: x-large;
	padding-top: 1em;
	text-align: center;
}

.tarif h1{
	font-size: x-large;
	padding-top: 1em;
	text-align: left;
}
#footer {
	background-color:  #EDF2F2;
	opacity: 0,3;
  padding-left: 100px;
  padding-top: 3em;
  padding-bottom: 3em;
  padding-right: 100px;

}

#footer a {
  color: #383E42;
}

#footer a:hover {
  text-decoration: none;
  color: #95C11F;
}

#social {
	font-size: x-large;
}



.spacer-verticale {
	height: 4em;
}

.contact {
	padding: 100px;
}
.contacta {
	font-size: x-large;
	color:#383E42;

}

.contact a:hover{
	color: #95C11F;
	text-decoration: none;
}

#contact h1{
	text-align: center;
	padding-bottom: 30px;
}

 #contact {
	background-color:#CCCCCC;
	height: 100px;
	background-size: cover;
	padding-top: 150px;
	padding-bottom: 50px;
	color: white;
}

#cover {
	background-image:  url('../images/background/multi.jpg');
	height: 200px;
	background-size: cover;
	padding-top: 100px;
	color: white;
}

#featurea {
	color: #56626B;
	font-size: 50px;
	border: 1px solid white;
	margin: 20px;
}

#featureb{
	color: #6C9380;
	font-size: 50px;
	border: 1px solid white;
	margin: 20px;	
}

#featurec {
	color: #C0CA55; 
	font-size: 50px;
	border: 1px solid white;
	margin: 20px;	
}

#featured {
	color: #F07C6C; 
	font-size: 50px;
	border: 1px solid white;
	margin: 20px;	
}


#featuree {
	color: #AD5472; 
	font-size: 50px;
	border: 1px solid white;
	margin: 20px;	
}

.Planfinancier h1{
	padding-bottom: 1em;
	padding-top: 1em;
}